body {
  font-family: 'Roboto', sans-serif;
  padding: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.GifGrid ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.GifGrid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
